<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>
            SISTEM OTOMASI | PERPUSTAKAAN UNIVERSITAS DINAMIKA SURABAYA
        </title>

        <link
            href="https://unpkg.com/aos@2.3.1/dist/aos.css"
            rel="stylesheet"
        />
        <link href="style/main.css" rel="stylesheet" />
    </head>
    <body>
        <div class="section-content section-dashboard-home" data-aos="fade-up">
            <div class="container-fluid">
                <div class="dashboard-heading">
                    <h2 class="dashboard-title">Subject</h2>
                    <p class="dashboard-subtitle">Edit New Subject!</p>
                </div>
                <div class="dashboard-content">
                    <div class="row">
                        <div class="col-md-12">
                            @if ($errors->any())
                            <div class="alert alert-danger">
                                <ul>
                                    @foreach ($errors->all() as $error)
                                    <li>{{ $error }}</li>
                                    @endforeach
                                </ul>
                            </div>
                            @endif
                            <div class="card">
                                <div class="card-body">
                                    <form
                                        action="{{ route('subject.update', $item->id) }}"
                                        method="POST"
                                        enctype="multipart/form-data"
                                    >
                                        @method('PUT') @csrf
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>NIM</label>
                                                    <input
                                                        type="text"
                                                        name="nim"
                                                        class="form-control"
                                                        required
                                                        value="{{ $item->subyek_1 }}"
                                                    />
                                                </div>
                                                <div class="form-group">
                                                    <label>Nomor Induk</label>
                                                    <input
                                                        type="text"
                                                        name="nomor_induk"
                                                        class="form-control"
                                                        required
                                                        value="{{ $item->subyek_1 }}"
                                                    />
                                                </div>
                                                <div class="form-group">
                                                    <label>Jenis Koleksi</label>
                                                    <input
                                                        type="text"
                                                        name="jenis_koleksi"
                                                        class="form-control"
                                                        required
                                                        value="{{ $item->subyek_1 }}"
                                                    />
                                                </div>
                                                <div class="form-group">
                                                    <label
                                                        >Tanggal Pinjam</label
                                                    >
                                                    <input
                                                        type="text"
                                                        name="tgl_pinjam"
                                                        class="form-control"
                                                        required
                                                        value="{{ $item->subyek_1 }}"
                                                    />
                                                </div>
                                                <div class="form-group">
                                                    <label
                                                        >Tanggal Kembali
                                                        1</label
                                                    >
                                                    <input
                                                        type="text"
                                                        name="tgl_kembali_1"
                                                        class="form-control"
                                                        required
                                                        value="{{ $item->subyek_1 }}"
                                                    />
                                                </div>
                                                <div class="form-group">
                                                    <label
                                                        >Tanggal Kembali
                                                        2</label
                                                    >
                                                    <input
                                                        type="text"
                                                        name="tgl_kembali_2"
                                                        class="form-control"
                                                        required
                                                        value="{{ $item->subyek_1 }}"
                                                    />
                                                </div>
                                                <div class="form-group">
                                                    <label>Status Wajib</label>
                                                    <input
                                                        type="text"
                                                        name="sts_wajib"
                                                        class="form-control"
                                                        required
                                                        value="{{ $item->subyek_1 }}"
                                                    />
                                                </div>
                                                <div class="form-group">
                                                    <label
                                                        >Statys Wajib kbl</label
                                                    >
                                                    <input
                                                        type="text"
                                                        name="sts_wajib_kbl"
                                                        class="form-control"
                                                        required
                                                        value="{{ $item->subyek_1 }}"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col text-right">
                                                <button
                                                    type="submit"
                                                    class="btn btn-success px-5"
                                                >
                                                    Save Now
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
